
.dropdown-menu {
    position: absolute;
    left: 0;
    width: 00px;
    background-color:#fff;
    background: linear-gradient(90deg, transparent, rgba(228, 79, 79, 0.4), transparent);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 0.5rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li a {
    display: block;
    padding: 0.75rem 1rem;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
}

.dropdown-menu li a:hover {
    background-color: green;
}

.dropdown-menu li:last-child a {
    border-bottom: none;
    background-color: #3a6fe2;
}
.custom-negative-margin {
    margin-left: 70px; /* Adjust as needed */
}
