.marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.marquee-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}


.marquee img {
    margin: 0 30px; /* Increase margin for more distance between images */
    height: 100px; /* Adjust the height as needed */
    object-fit: contain;
}

/* @keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
} */